* {
    box-sizing: border-box;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

section {
    padding: calc(100vw * 1/27) calc(100vw * 2/27);
}

.intro {
    background: #f3d8d0;
}

.purpose {
    background: rgba(165, 232, 135, .2);
}

.projects {
    background: rgba(117, 197, 186, 0.2);
}

.connect {
    background: rgba(241, 235, 200, 0.5);
}

@media (min-width: 768px) {
    .top-of-page {
        display: flex;
        flex-direction: row-reverse;
    }
    .top-of-page > * {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .top-of-page img {
        padding: 0;
    }
}