img {
    border-radius: 50%;
    display: block;
    max-width: calc(100vw * 18/27);
    margin: 0 auto;
    padding: calc(100vw * 2/27) 0;
}

section {
    padding: calc(100vw * 1/27) calc(100vw * 2/27);
}

.purpose {
    background: rgba(165, 232, 135, .2);
}

.projects {
    background: rgba(117, 197, 186, 0.2);
}

.connect {
    background: rgba(241, 235, 200, 0.5);
}